:root {
    --v20-width: 20px;
    --v20-skew: 60deg;
    --v20-crop: 30deg;
    --v20-border-width: 0.5px;
    --v20-border-color: rgb(92, 2, 18);

    --v20-line-height: 30px;
    --v20-line-height-large: 46px;
    --v20-line-padding: 4px;
    --v20-line-inner-height: calc(var(--v20-line-height) - 2 * var(--v20-line-padding));
    --v20-line-large-inner-height: calc(var(--v20-line-height-large) - 2 * var(--v20-line-padding));

    --v20-color-background: white;
    --v20-color-visual-accent: rgba(117, 2, 24, 1);
    --v20-common-border-color: rgba(77, 77, 77, .3);

    --v20-gap-horizontal: 16px;
    --v20-gap-vertical: 8px;
    --v20-color-text: #111;

    /*14,16,18px*/
    --v20-font-size-normal: 1em;
    --v20-font-size-large: 1.2em;
    --v20-font-size-xl: 1.4em;

    --v20-blurry-10-50: unset;
    --v20-blurry-5-20: unset;
    --v20-neuromorph-box-shadow: inset 3px 3px 6px #e6e6e6,
    inset -3px -3px 6px #ffffff;
    --v20-neuromorph-box-shadow-active: inset 3px 3px 6px #cccccc,
    inset -3px -3px 6px #ffffff;

    --v20-color-neutral: rgba(127, 127, 127, .5);
}

@media screen and (max-device-pixel-ratio: 1) {
    :root {
        --v20-border-width: 1px;
        --v20-border-color: rgba(117, 2, 24, .5);
    }
}
