:root {
    margin: 0;
    padding: var(--v20-width);
    position: relative;

    --color-dark-primary: rgb(66, 1, 13);
    --color-dark-primary-highlight: rgb(92, 2, 18);
}

.sheet {
    flex-grow: 1;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

html, body {
    padding: 0 !important;
}

.nav-tabs {
    margin-bottom: 8px;
    border-bottom: 1px solid var(--v20-color-neutral);
    padding: 0 20px;
}

.nav-tabs > li > a {
    cursor: pointer !important;
    border: none !important;
    outline: none;
    transition: all var(--v20-transition-duration) ease-in-out;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    text-decoration: none !important;
    color: var(--v20-color-text) !important;
    background-color: var(--v20-color-neutral) !important;
}

.nav-tabs > li > a {
    border-radius: 0;
}

.sheet {
    max-width: var(--v20-min-viewport-width);
    margin: 0 auto;
}

.sheet-darkmode {
    color-scheme: dark;
    --v20-color-text: #eee;
    --v20-color-background: var(--dark-surface1, #1F1F1F);
    background-color: var(--v20-color-background);
}

label, h1, h2, h3, h4, h5, h6, select, option, span {
    color: var(--v20-color-text);
}

select, option {
    background: transparent;
}


.attributesabilities.attributesabilities {
    input, textarea, h1, h2, h3, h4, h5, h6, button {
        color: unset;
        background-color: unset;
    }
}


.characterviewer {
    min-height: 100%;
    display: flex !important;
    flex-direction: column;
}

.tab-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sheetform, .characterviewer, #root {
    display: contents !important;
}

#dialog-window {
    display: grid;
    grid-template-rows: min-content 1fr;
    padding-bottom: 20px;
}

.sheet-tab-content {
    flex-grow: 1;
}
