.charsheet .sheet-component--attr-input {
    --sheet-component--attr-input-dots-area: calc(var(--v20-counter-item-width) * 6);
    --sheet-component--attr-input-input-area: 100px;
    --sheet-component--attr-input-gap: 4px;

    display: grid;
    height: var(--v20-line-height);
    grid-template-columns: auto var(--sheet-component--attr-input-dots-area) var(--sheet-component--attr-input-input-area);
    grid-gap: var(--sheet-component--attr-input-gap);
    align-items: center;

    & .sheet-component--attr-input--title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        text-align: start;
        display: flex;
        justify-content: flex-start;
        & input {
            display: none;
        }
        & input:checked + span {
            display: none;
        }
    }

    & .sheet-component--attr-input--counter-value {
        line-height: 100%;
    }

    & .sheet-component--attr-input--spec {
        &:invalid:not(:focus) {
            border-color: rgba(128,128,128,.1);
        }
    }

    &.sheet-component--attr-input-expanding .sheet-component--attr-input--dots-input {
        & div {
            width: calc(var(--sheet-component--attr-input-dots-area) + var(--sheet-component--attr-input-input-area) + var(--sheet-component--attr-input-gap));
        }

        &:hover div {
            background: var(--v20-color-background);
        }

        &:hover div:after {
            content: '';
            flex: 1;
            height: 100%;
            pointer-events: all;
            display: block;
        }
    }

    .sheet-component--attr-input--dots-input {
        width: var(--sheet-component--attr-input-dots-area);
        overflow: visible;
        height: 100%;

        & div {
            width: auto;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
            transition: background-color var(--v20-transition-duration);
            background: transparent;
            z-index: 100;
            position: relative;
            pointer-events: none;
        }
    }

    .sheet-component--attr-input--dots-input {
        &:not(:hover) input[value='5'] ~ input {
            opacity: 0;
            pointer-events: none;
        }

        &:hover input {
            pointer-events: all;
        }
    }
}

*:has( > .sheet-component--attr-input) {
    container-type: inline-size;
}


@container (max-width: 260px) {
    .charsheet .sheet-component--attr-input {
        grid-template-columns: auto var(--sheet-component--attr-input-dots-area) 0;
        .sheet-element-input:has(.sheet-component--attr-input-spec) {
            display: none;
        }

        &.sheet-component--attr-input-expanding .sheet-component--attr-input--dots-input {
            & div {
                width: auto;
            }
        }
        .sheet-component--attr-input--dots-input {
            &:hover input[value='5'] ~ input {
                opacity: 0;
                pointer-events: none;
            }

            &:hover input {
                pointer-events: none;
            }
        }
    }
}

