@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

.sheet-component:has(.sheet-component--boost) {
    position: relative;
}

.sheet-component--boost {
    z-index: 1000000;
    background: linear-gradient(to left, var(--v20-color-background), transparent, var(--v20-color-background));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    color: white;

    transition: all var(--v20-transition-duration);
    &:not(:hover) {
        background: transparent;
        opacity: 0;
        opacity: 0.1;
    }

    input[type="radio"] {
        display: none;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;


    & .sheet-component--boost-dropdown,
    & .sheet-component--boost-value {
        opacity: 1;
        transition: opacity var(--v20-transition-duration);
    }

    &:not(:has(input[type="radio"]:checked)) .sheet-component--boost-value,
    & .sheet-component--boost-value:empty {
        opacity: 0;
    }

    .sheet-component--boost-value {
        font-size: 9px;
        color: var(--v20-color-visual-accent);
        &::before {
            content: '(';
        }
        &::after {
            content: ')';
        }
    }

    &:hover .sheet-component--boost-contents {
        opacity: .5;
    }

    .sheet-component--boost-zero {
        font-variation-settings: 'FILL' 1,
        'wght' 100,
        'GRAD' 0,
        'opsz' 16;
    }

    .sheet-component--boost-dropdown > span {
        cursor: pointer;
    }
    .sheet-component--boost-dropdown:hover .sheet-component--boost-selector {
        pointer-events: all;
        opacity: 1;
    }

    .sheet-component--boost-selector {
        pointer-events: none;
        transition: all 0s ease-in-out;
        z-index: 1;
        position: absolute;
        left: 0;
        top: 100%;
        height: fit-content;
        width: 100%;
        opacity: 0.1;
        background: var(--v20-color-background);
        padding: 5px 20px;
        mask: var(--v20-blurry-5-20);
        mask-composite: subtract;
        box-sizing: content-box;
    }
}

 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 1,
             'wght' 400,
             'GRAD' 0,
             'opsz' 20
 }
