.sheet-component--checkbox.sheet-component--checkbox.sheet-component--checkbox {
    white-space: nowrap;
    flex: 0 0 min-content;
    width: min-content;

    & > input {
        align-self: flex-end;
        appearance: none;
        border: rgba(128, 128, 128, 0.125) 1px solid;
        color: var(--v20-color-text);
        padding: 4px 8px;
        margin: 0;
        font-size: 16px;
        height: calc(var(--v20-line-height) + 4px);
        width: calc(var(--v20-line-height) + 4px);
        outline: none;
        background: transparent;
        border-radius: 2px;
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 20;

        &:active, &:focus {
            outline: none;
        }

        &::after {
            content: attr(data-symbol-unchecked);
            vertical-align: center;
            line-height: calc(var(--v20-line-height) - 8px);
        }

        &:checked::after {
            content: attr(data-symbol);
        }
    }
}
