.sheet-element-input {
    position: relative;
    width: 100%;
    padding: 2px 4px;
}

textarea {
    color: var(--v20-color-text);
    background: transparent;
    resize: none;
    border: rgba(128, 128, 128, 0.125) 1px solid;
    &:disabled {
        border-color: rgba(128, 128, 128, 0.05);
    }
}

.sheet-element-input-container {
    border: rgba(128, 128, 128, 0.125) 1px solid;
    border-radius: 4px;
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.sheet-element-input-container:has(input:disabled) {
    border-color: rgba(128, 128, 128, 0.05);
}

.sheet-element-input.sheet-element-input.sheet-element-input {
    display: grid;
    grid-template-areas: "area";
    & > * {
        grid-area: area;
    }
    .sheet-binput {
        color: var(--v20-color-text);
        padding: 4px 8px;
        font-size: var(--v20-font-size-normal);
        min-height: 24px;
        min-width: 36px;
        outline: none;
        transition: background var(--v20-transition-duration);
        margin: 0;
        background: transparent;
        width: 100%;
        border: none;
    }

    input::placeholder {
        color: rgba(128, 128, 128, .2);
    }

    input::-webkit-input-placeholder {
        color: rgba(128, 128, 128, .2);
    }
}
.sheet-element-input-postfix {
    padding: 4px 8px;
}
