.sheet-element-input {
    position: relative;
    width: 100%;
    padding: 2px 4px;
}

textarea {
    background: transparent;
    resize: none;
    border: rgba(128, 128, 128, 0.125) 1px solid;
    &:disabled {
        border-color: rgba(128, 128, 128, 0.05);
    }
}

.sheet-element-input-container {
    border: rgba(128, 128, 128, 0.125) 1px solid;
    border-radius: 4px;
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.sheet-element-input-container:has(input:disabled) {
    border-color: rgba(128, 128, 128, 0.05);
}

.sheet-element-input input {
    padding: 4px 8px;
    font-size: 16px;
    min-height: 24px;
    min-width: 36px;
    outline: none;
    transition: background 0.5s;
    margin: 0;
    background: transparent;
    width: 100%;
    border: none;
}

.sheet-element-input input:disabled {
    border-color: rgba(128, 128, 128, 0.05);
}

.sheet-element-input input::placeholder {
    color: rgba(128, 128, 128, .2);
}

.sheet-element-input input::-webkit-input-placeholder {
    color: rgba(128, 128, 128, .2);
}

.sheet-element-input label {
    pointer-events: none;
    display: inline-block;
    width: min-content;
    position: absolute;
    left: -4px;
    top: -6px;
    margin: 0;
    cursor: text;
    color: var(--secondarytext);
    transition: color 0.5s;
    white-space: nowrap;
    padding: 5px 20px;
    mask: var(--blurry-5-20);
    mask-composite: intersect;
    background: var(--background-color);
}

.sheet-element-input:has(label) {
    padding: 10px 4px 2px;
}

.sheet-element-input:has(label) input {
    padding: 16px 16px;
}


.sheet-element-input input:focus + label {
    color: var(--primarytext);
}

.sheet-element-input-postfix {
    padding: 4px 8px;
}

input.sheet-element-input-readonly[disabled] {
    border: none;
    outline: none;
    background-color: transparent;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50px;
}
