.sheet-component--labelled {
    display: grid;
    grid-template-areas: "area";

    & > * {
        grid-area: area;
    }

    & > label {
        pointer-events: none;
        display: inline-block;
        margin: -16px 0 0 -14px;
        padding: 5px 20px;
        width: min-content;
        height: min-content;
        cursor: text;
        color: var(--secondarytext);
        transition: color var(--v20-transition-duration);
        white-space: nowrap;
        mask: var(--v20-blurry-5-20);
        mask-composite: subtract;
        background: var(--v20-color-background);
    }


    padding: 4px 8px;

    &:has(label) {
        padding: 10px 4px 2px;
    }
}
