.characterviewer:not(.characterviewer-simulated) {
    .itemcontrol {
        z-index: 1;
    }
}

.repitem + .repitem {
    padding-top: 8px;
}

.characterviewer-simulated {
    /*.repitem {*/
    /*    margin-bottom: 40px;*/
    /*}*/


    .repcontrol {
        display: flex;
        justify-content: flex-end;
        gap: 16px;

        &:only-child, &:nth-child(2) {
            & .repcontrol_edit {
                display: none;
            }
        }

        & button.btn {
            outline: none !important;
            padding: 8px 16px;
            color: var(--v20-color-text);
            border-radius: 8px;
            background: var(--v20-color-background);
            text-shadow: none;
            border-color: transparent;
            transition: box-shadow var(--v20-transition-duration) ease-in-out;

            &:hover {
                background: var(--v20-color-background);
                color: var(--v20-color-text);
                border-color: transparent;
            }
        }
    }

    *:has(> .itemcontrol) {
        position: relative;
    }

    .itemcontrol {
        position: absolute;

        width: 100%;
        height: 100%;
        z-index: 1;

        & .repcontrol_move {
            cursor: grab;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            color: transparent;
            background-color: transparent;
            border: none;
            box-shadow: none;

            &:hover {
                backdrop-filter: blur(1.5px);
            }

            &:hover, &:active, &:focus {
                background: none;
                box-shadow: none;
            }
        }

        & .repcontrol_del, & .repcontrol_del {
            position: relative;
            z-index: 2;
            background-color: var(--v20-border-color);
            backdrop-filter: grayscale(100%) blur(1.5px) brightness(50%);
            border: none;
            text-shadow: none;
            color: rgba(127, 127, 127, 0.5) !important;
        }
    }
}
