.sheet-component--resizing-textarea {
    grid-area: description;
    width: 100%;
    position: relative;
    white-space: break-spaces;
    & .sheet-component--resizing-textarea-container {
        display: grid;
        grid-template-areas: "area";

        & > * {
            grid-area: area;
        }
    }
    & .sheet-component--resizing-textarea-container {
        width: 100%;
    }
    & textarea {
        width: 100%;
        min-height: 30px;
        height: 100%;
        outline: none;
        background: none;
        vertical-align: top;
        margin-bottom: 0;
        padding: 4px 8px;
    }
    & span {
        width: 100%;
        word-break: break-all;
        pointer-events: none;
        opacity: 0;
        padding: 4px;

        &::before, &::after {
            content: 'z';
        }
    }


    & label {
        pointer-events: none;
        display: inline-block;
        width: min-content;
        position: absolute;
        left: -4px;
        top: -6px;
        margin: 0;
        cursor: text;
        color: var(--secondarytext);
        transition: color 0.5s;
        white-space: nowrap;
        padding: 5px 20px;
        mask: var(--blurry-5-20);
        mask-composite: intersect;
        background: var(--background-color);
    }

    padding: 8px 4px;
    &:has(label) {
        padding: 10px 4px 2px;

        & textarea {
            padding: 4px 16px;
        }
    }
}
