.sheet-component--resizing-textarea {
    grid-area: description;
    width: 100%;
    position: relative;
    white-space: break-spaces;
    &, textarea, span {
        line-height: 18px;
        font-size: 12px;
        font-weight: 200;
        font-family: "Exo 2", serif;
    }
    & .sheet-component--resizing-textarea-container {
        display: grid;
        grid-template-areas: "area";

        & > * {
            grid-area: area;
        }
    }
    & .sheet-component--resizing-textarea-container {
        width: 100%;
    }

    & span {
        width: 100%;
        word-break: break-all;
        pointer-events: none;
        opacity: 0;
        padding: 5px 9px;
        min-height: var(--v20-line-height);
        transition: min-height 0.1s ease-in-out;

        &::before, &::after {
            content: 'Z';
        }
    }

    & textarea:focus + span {
        min-height: calc(var(--v20-line-height) * 5);
    }
}

.sheet-component--resizing-textarea, .sheet-component--textarea {
    & textarea {
        width: 100%;
        min-height: 30px;
        height: 100%;
        outline: none;
        background: none;
        vertical-align: top;
        margin-bottom: 0;
        padding: 4px 8px;
    }
}
