.sheet-element-section-heading:has(.sheet-component--row-description-toggler:not(:checked)) + .sheet-element-section-body {
    display: none;
}

.sheet-element-section-heading {
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 1;
    mask: var(--v20-blurry-5-20);
    background-color: white;

    flex: 0;
    width: 100%;
    text-align: center;
    min-height: 50px;
    box-sizing: border-box;
    background-image: radial-gradient(var(--v20-border-color), transparent 75%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding-bottom: 4px;
    align-items: flex-start;
    justify-content: center;

    .sheet-component--row-description-toggler {
        flex: 0;
        padding: 0 16px;
        margin: 0;
        align-self: flex-start;
        appearance: none;
        background: transparent;
        color: var(--v20-color-text);
        border: none;
        width: min-content;
        height: min-content;
        &::after {
            content: 'expand_content'
        }
        &:checked::after {
            content: 'collapse_content'
        }

        &:active, &:focus {
            outline: none;
        }
    }
}

.sheet-element-section-heading > * {
    padding: 10px 50px;
    mask: var(--v20-blurry-10-50);
    -webkit-mask: var(--v20-blurry-10-50);
    mask-composite: subtract;
    background: var(--v20-color-background);
    display: flex;
    line-height: 27px;
}

.sheet-element-section-body {
    max-width: var(--v20-min-viewport-width);
    margin: 0 auto;
    gap: var(--v20-gap-horizontal);
}
