.sheet-component--select-input {
    display: grid;
    grid-template-areas: "area";
    & > * {
        grid-area: area;
    }
    width: auto;
    select {
        width: 100%;
        margin: 0;
        height: 100%;
        background: transparent;
        resize: none;
        border: rgba(128, 128, 128, 0.125) 1px solid;
        &:active, &:focus {
            outline: none;
        }
        &:disabled {
            border-color: rgba(128, 128, 128, 0.05);
        }
    }

    option:empty {
        display: none;
    }
}
