input.sheet-component--square-radio.sheet-component--square-radio {
    appearance: none;
    width: 22px;
    height: 22px;
    display: block;
    text-align: end;
    padding: 3px;
    line-height: 14px;
    background: transparent;

    &, &:active, &:focus {
        outline: none;
    }

    &:checked {
        color: var(--v20-color-visual-accent);
        border-color: var(--v20-color-visual-accent);
    }

    &::after {
        content: attr(value);
    }
}
