.sheet-tabCombat {
    & .sheet-tabCombat--item {
        & + .sheet-tabCombat--item {
            padding-top: 40px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        & > * {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            width: 100%;
        }

        .sheet-tabCombat--item-row > * {
            width: 100%;
        }
    }

    & .sheet-tabCombat--havens {
        & .sheet-tabCombat--havens-header {
            display: grid;
            grid-template-columns: 1fr 154px 154px 154px;
            justify-content: flex-start;
            align-items: flex-start;
            & * {
                text-align: start;
                padding: 0 14px;
            }
        }
    }
}
