.sheet {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sheet::before {
    content: '';
    display: block;
    background-image: url('/public/img.png');
    height: 100px;
    width: 300px;
    background-size: contain;
    background-position: center;
    align-self: center;
}

.sheet-darkmode .sheet::before {
    filter: invert(1) brightness(0.8);
}
