*, *::before, *::after {
    box-sizing: border-box;
}

.sheet-3col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 16px;
}

.sheet-3col > * {
    overflow: hidden;
    flex: 0 0 auto;
}

.sheet-body > div {
    min-height: 100vh;
}

:root {
    --light-secondarytext: #333;
    --light-primarytext: #333;
    --dark-primarytext: #111;
    --v20-line-height: 30px;
    --primarytext: var(--light-primarytext);
    --secondarytext: var(--light-secondarytext);
}

.sheet-darkmode {
    --primarytext: var(--dark-primarytext);
    --secondarytext: var(--dark-secondarytext);
}

.sheet-main-div-inner {
    margin: -128px -3px 0 -4px;
}

.charsheet {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color:  var(--v20-color-background);
}

.charsheet:has(#attr_sheet_type_0:checked) label[for="attr_sheet_type_0"],
.charsheet:has(#attr_sheet_type_1:checked) label[for="attr_sheet_type_1"],
.charsheet:has(#attr_sheet_type_2:checked) label[for="attr_sheet_type_2"],
.charsheet:has(#attr_sheet_type_3:checked) label[for="attr_sheet_type_3"],
.charsheet:has(#attr_sheet_type_4:checked) label[for="attr_sheet_type_4"],
.charsheet:has(#attr_sheet_type_5:checked) label[for="attr_sheet_type_5"],
.charsheet:has(#attr_sheet_type_6:checked) label[for="attr_sheet_type_6"],
.charsheet:has(#attr_sheet_type_7:checked) label[for="attr_sheet_type_7"],
.charsheet:has(#attr_sheet_type_8:checked) label[for="attr_sheet_type_8"],
.charsheet:has(#attr_sheet_type_9:checked) label[for="attr_sheet_type_9"],
.charsheet:has(#attr_sheet_type_10:checked) label[for="attr_sheet_type_10"],
.sheet-toplevel-nav label:hover
{
    opacity: 1;
    border-color: var(--v20-color-visual-accent);
}

.sheet-toplevel-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;

    & label {
        display: inline-block;
        width: auto;
        touch-action: auto;
        cursor: pointer;
        opacity: .5;
        border-bottom: 2px transparent solid;
        margin-bottom: 0;
    }
}

.sheet-utility-hidden-input-radio {
    display: none !important;
}

.sheet-utility-hidden-input-radio:not(:checked) + * {
    display: none !important;
}

input, textarea {
    outline: none;
}
