*, *::before, *::after {
    box-sizing: border-box;
}

.sheet-3col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 16px;
}

.sheet-3col > * {
    overflow: hidden;
    flex: 0 0 auto;
}

:root {
    --light-secondarytext: #333;
    --light-primarytext: #333;
    --dark-primarytext: #111;
    --line-height: 30px;
    --primarytext: var(--light-primarytext);
    --secondarytext: var(--light-secondarytext);
}

.sheet-darkmode {
    --primarytext: var(--dark-primarytext);
    --secondarytext: var(--dark-secondarytext);
}

.sheet-image-div {
    background-image: url(/public/banner.png);
    background-size: 100% 140px;
    background-repeat: repeat-x;
    background-position: 0px 10px;
}

.sheet-border-div {
    background-color: transparent;
    border-style: solid;
    border-width: 278px 30px 38px 23px;
    border-image: url(/public/border.png) 793 64 62 66 repeat;
}

.sheet-main-div-inner {
    margin: -128px -3px 0 -4px;
}

.charsheet {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: white;
}

.sheet-toplevel-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;

    & label {
        display: inline-block;
        width: auto;
        touch-action: auto;
        cursor: pointer;
    }
}

.sheet-utility-hidden-input-radio {
    display: none !important;
}

.sheet-utility-hidden-input-radio:not(:checked) + * {
    display: none;
}

input, textarea {
    outline: none;
}
